.checkout{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
    background-color: #E28F8F;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    color: white;
}