.product{
    display: flex;
    margin-bottom: 2em;
    border-bottom: 1px solid #c9c9c9;
    height: 200px;
    padding: 20px;
}

.product_image{
    width: 30%;
    max-width: 400px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    box-shadow: 1px 1px 3px 1px #acacac;
    margin-bottom: 2em;
}

.product_image > img{
    object-fit: contain;
    width: 100%;
    max-height: 200px;
}

.product_info{
    margin: 10px;
    width: 70%;
}

.product_calorie{
    display: flex;
    color: #6d6d6d;
}

.product_title > p{
    font-size: 1.5em;
    font-weight: 700;
    color: #919191;
}

.product_details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #919191;
    height: 50px;
}

.product_count{
    display: flex;
    justify-content: flex-end;
}

.counter{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    width: 200px;
    max-width: 200px;
    height: 50px;
    align-items: center;
    font-size: 17px;
}

.MuiSvgIcon-root.remove_icon{
    background-color: lightgray;
    padding: 10px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 2em;
    cursor: pointer;
}

.MuiSvgIcon-root.add_icon{
    background-color: lightgray;
    padding: 10px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 2em;
    cursor: pointer;
}

.count_div{
    background-color: rgb(241, 187, 187);
    padding: 11px;
    width: 20%;
    max-width: 50px;
    display: flex;
    justify-content: center;
}


@media only screen and (min-width: 800px) {
    .product{
        height: 350px;
    }
    .product_image{
        width: 30%;
        max-height: 350px;
        display: flex;
        align-items: center;
        border-radius: 10px;
        box-shadow: 1px 1px 3px 1px #acacac;
    }
    
    .product_image > img{
        object-fit: contain;
        width: 100%;
        max-height: 200px;
    }

    .product_info{
        margin: 20px;
        width: 70%;
    }

    .product_title > p{
        font-size: 2.5em;
        font-weight: 700;
        color: #919191;
    }
}